/* --------------------------------------------------------------------------------------------Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\000035}}
.loading {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\0000317}}
.top-line {
  width: 100%;
  border-bottom: #002e63 3px solid;
  position: relative;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\0000323}}
  .top-line span {
    width: 100%;
    background: #002e63;
    height: 160px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border-top: 2px solid #ebbf2a;
    -webkit-animation: lineAnim 1s ease-in-out 4s forwards;
            animation: lineAnim 1s ease-in-out 4s forwards; }
@-webkit-keyframes lineAnim {
  100% {
    background: #002e63;
    height: 0px;
    border-color: transparent; } }
@keyframes lineAnim {
  100% {
    background: #002e63;
    height: 0px;
    border-color: transparent; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\0000343}}
.shadows {
  position: relative;
  text-shadow: -15px 5px 20px #ced0d3;
  color: white;
  font-family: 'Anton', Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 85px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-align: center;
  font-weight: 600;
  letter-spacing: -60px;
  -webkit-animation: lp 3s ease-in-out 0s forwards;
          animation: lp 3s ease-in-out 0s forwards;
  opacity: 0; }
@-webkit-keyframes lp {
  70% {
    opacity: .3; }
  100% {
    opacity: 1;
    letter-spacing: -0.1em; } }
@keyframes lp {
  70% {
    opacity: .3; }
  100% {
    opacity: 1;
    letter-spacing: -0.1em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\0000362}}
.shadows:hover {
  text-shadow: -16px 6px 15px #ced0d3;
  color: #ebbf2a; }

@media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\0000369}}
  .dropdown:hover .dropdown-toggle::after {
    -webkit-animation: move 4s ease-in-out 1;
            animation: move 4s ease-in-out 1; }

  @-webkit-keyframes move {
    15% {
      -webkit-transform: rotate(-92deg);
              transform: rotate(-92deg);
      color: #ebbf2a; }
    30% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      color: #fff; }
    45% {
      -webkit-transform: rotate(92deg);
              transform: rotate(92deg);
      color: #ebbf2a; }
    60% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      color: #fff; } }

  @keyframes move {
    15% {
      -webkit-transform: rotate(-92deg);
              transform: rotate(-92deg);
      color: #ebbf2a; }
    30% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      color: #fff; }
    45% {
      -webkit-transform: rotate(92deg);
              transform: rotate(92deg);
      color: #ebbf2a; }
    60% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      color: #fff; } } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\0000396}}
#navbarSupportedContent > ul > li.active > a {
  font-size: 23px;
  padding: 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003101}}
.menu-area {
  background: #002e63;
  border-bottom: 2px solid #ebbf2a;
  -webkit-animation: menuBg 1s ease-in 5s forwards;
          animation: menuBg 1s ease-in 5s forwards; }
@-webkit-keyframes menuBg {
  100% {
    background: transparent; } }
@keyframes menuBg {
  100% {
    background: transparent; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003112}}
.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 0 solid transition !important;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: none !important;
  letter-spacing: .5px;
  -webkit-transform: translate(0px, 30px);
          transform: translate(0px, 30px);
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003125}}
li.dropdown:hover .dropdown-menu {
  -webkit-animation: menuAn .2s ease-in-out forwards;
          animation: menuAn .2s ease-in-out forwards; }
@-webkit-keyframes menuAn {
  70% {
    opacity: .2; }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: opacity 1s ease-out !important;
    transition: opacity 1s ease-out !important; } }
@keyframes menuAn {
  70% {
    opacity: .2; }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: opacity 1s ease-out !important;
    transition: opacity 1s ease-out !important; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003144}}
#navbarSupportedContent > ul > li {
  -webkit-animation: mRight 500ms ease-in 5s forwards;
          animation: mRight 500ms ease-in 5s forwards; }
@-webkit-keyframes mRight {
  50% {
    margin-right: 6px; }
  100% {
    margin-right: 5px; } }
@keyframes mRight {
  50% {
    margin-right: 6px; }
  100% {
    margin-right: 5px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003159}}
.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 6px 20px;
  font-family: 'Roboto', sans-serif;
  display: block !important;
  text-shadow: 0 0 1px #000;
  background: #002e63; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003176}}
.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
  color: #002e63;
  background: #ebbf2a;
  outline: 0; }

/*==========Sub Menu=v==========*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003190}}
.mainmenu .collapse ul > li:hover > a {
  background: #ebbf2a;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003195}}
.mainmenu .collapse ul ul > li:hover > a,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
  background: #ebbf2a; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003201}}
.mainmenu .collapse ul ul ul > li:hover > a {
  background: #ebbf2a; }

/******************************Drop-down menu work on hover**********************************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003221}}
.mainmenu {
  background: none;
  border: 0 solid;
  margin: 0;
  padding: 0;
  min-height: 20px;
  width: 100%; }

@media only screen and (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003231}}
  .mainmenu .collapse ul li:hover > ul {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003235}}
  .mainmenu .collapse ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    display: none; }

  /*******/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003244}}
  .mainmenu .collapse ul ul li {
    position: relative;
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
    margin-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003252}}
  #navbarSupportedContent > ul > li.dropdown > ul > li:nth-child(1) {
    margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003256}}
  .mainmenu .collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    display: none; }

  /*******/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003265}}
  .mainmenu .collapse ul ul ul li {
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003269}}
  .mainmenu .collapse ul ul ul li:hover ul {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003273}}
  .mainmenu .collapse ul ul ul ul {
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 250px;
    display: none;
    z-index: 1; } }
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003285}}
  .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
    padding: 16px 15px 16px 35px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003289}}
  .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
    padding: 16px 15px 16px 45px; } }
/* --------------------------------------------------------------------------------------------Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003295}}
.canBox {
  position: relative;
  top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003300}}
canvas {
  background-image: url("imgs/codeBgCanvas.jpg");
  background-color: #333;
  background-size: cover;
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/me\/bp-backend\/assets\/css\/style\.scss}line{font-family:\00003310}}
code {
  padding: 30px 0;
  font-size: 20px; }

/*# sourceMappingURL=style.css.map */